@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column; 
}

#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(201, 45, 45);
}

.nav_list{
    display: flex;
    margin: 0 2rem 0 0;
}

ul{
    list-style: none;
}

.nav_list a{
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
    color: #fff;
}

.nav_list li :hover{
    background-color: hsla(226, 62%, 30%, 0.568);
}

#welcome-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    color: #fff;
    background-color: rgb(43, 39, 39);
}

#welcome-section h1{
    margin: 0;
    font-size: 4rem;
}

#welcome-section p{
    margin: 0;
    font-style: italic;
    color: rgba(201, 45, 45);
    font-size: 2rem;
    font-weight: 100;
}


h1, h2{
    font-family: 'Raleway', sans-serif;
}                   

#projects{
    background-color: #45567d;
    padding: 7rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects h2{
    color: #fff;
    max-width: fit-content;
    margin: 0 auto 4rem auto;
    font-size: 2.5rem;
    font-weight: 500;
    border-bottom: solid #fff;
    padding: 0.5rem 5rem;
}

.project-tile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    margin: 0 auto;
}

.tile{
    background-color: rgb(43, 39, 39);
    height: 450px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;

}

.tile img{
    width: 100%;
    height: 400px;
    
}



.p a{
    color: rgba(201, 45, 45);
    text-decoration: none;
    
}

.footer{
    top:0;
    background-color:rgb(43, 39, 39) ;
    height: 100vh;
    color: #fff;
    padding: 4rem 2rem;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16rem auto 1rem auto;
    align-items: center ;
}

.footer-content h1{
    margin: 0;
    font-size: 4rem;
}

.footer-content p{
    margin: 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.712);
    font-style: italic;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.profile a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
    flex-wrap: wrap;
}



@media(max-width: 500px){

    #navbar a{
        font-size: 1.2rem;
    }

    #welcome-section h1{
        font-size: 2.5rem;
    }

    #welcome-section p{
        font-size: 1.5rem;
    }

    #projects{
        padding: 2rem 0.5rem;
    }

    #projects h2{
        font-size: 2rem;
        padding: 0;
    }

    .footer-content h1{
        font-size: 2rem;
    }
    .footer-content p{
        font-size: 1rem;
    }

    .profile a{
        font-size: 1rem;
    }
}